<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layouts/index}">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div  class="col-12" layout:fragment="content">
            <table class="table">
    <tr th:each="item: ${list}">
        <td ><a th:href="@{'/teacher/edit/'+${item.getId()}}">edit</a></td>
        <td th:text="${item.getFirstName()}" />
        <td th:text="${item.getLastName()}" />
        <td th:text="${item.getEmail()}" />
    </tr>
    </table>
            </div>
</body>
</html>
